@page
@model LionPetManagement_NguyenHangNhatHuy.Pages.LionProfile.DetailModel
@{
    ViewData["Title"] = "Lion Details";
}

@if (Model.lionProfile != null)
{
    <div class="container mt-4">
        <div class="card shadow-lg border-primary">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">@Model.lionProfile.LionName</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Lion ProfileId</dt>
                    <dd class="col-sm-8">@Model.lionProfile.LionProfileId</dd>

                    <dt class="col-sm-4">LionTypeId</dt>
                    <dd class="col-sm-8">
                        @(Model.lionProfile.LionTypeId)
                    </dd>

                    <dt class="col-sm-4">Warnings</dt>
                    <dd class="col-sm-8">@Model.lionProfile.Warning</dd>

                    <dt class="col-sm-4">Weight</dt>
                    <dd class="col-sm-8">@Model.lionProfile.Weight</dd>

                    <dt class="col-sm-4">Characteristics</dt>
                    <dd class="col-sm-8">@Model.lionProfile.Characteristics</dd>
                    <dt class="col-sm-4">ModifiedDate</dt>
                    <dd class="col-sm-8">@Model.lionProfile.ModifiedDate</dd>
                    <dt class="col-sm-4">Manufacturer</dt>
                    <dd class="col-sm-8">@Model.lionProfile.LionType.LionTypeName</dd>
                </dl>

                <div class="d-flex justify-content-end">
                    @if (User.IsInRole("2"))
                    {
                        <a asp-page="./Update" asp-route-id="@Model.lionProfile.LionProfileId"
                           class="btn btn-warning me-2">Update</a>
                    }
                    <a asp-page="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning text-center mt-4">Lion not found.</div>
}